.contacts-list {
  @include list-reset;
}

.contacts-list__item {
  margin-bottom: 5px;
}

.contacts-list__link {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  color: $base-white;
  text-decoration: none;
  background-color: $primary-color;

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--wide {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }

  &--decoration {
    text-decoration: underline;
  }
}

.contacts-list--alternative {
  .contacts-list__item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .contacts-list__link {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-list {
    &:not(.contacts-list--alternative) {
      .contacts-list__link {
        color: $base-text-color;
        background-color: transparent;
      }
    }
  }

  .contacts-list__item {
    margin-bottom: 3px;
  }

  .contacts-list__link {
    &--wide {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .contacts-list--alternative {
    .contacts-list__item {
      margin-bottom: 14px;
    }

    .contacts-list__link--wide {
      font-size: 24px;
      line-height: 29px;
    }
  }
}
