.logo {
  width: 146px;
  height: 30px;

  img {
    display: block;
    width: 146px;
    height: 30px;
    object-fit: fill;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    width: 180px;
    height: 37.1px;

    img {
      width: 180px;
      height: 37.1px;
    }

    &--dark {
      width: 273.84px;
      height: 53.15px;

      img {
        width: 273.84px;
        height: 53.15px;
      }
    }
  }
}
