.main-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $primary-color;
}

.main-footer__wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.main-footer__copyright {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: $base-white;
}

.main-footer__logo {
  display: none;
}

.main-footer__social {
  position: relative;
  margin-bottom: 40px;

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 160px;
    height: 1px;
    margin-top: 20px;
    background-color: $base-white;
  }
}

.main-footer__nav {
  display: none;
}

.main-footer__documents {
  display: none;
}

@media (min-width: $desktop-width) {
  .main-footer {
    padding-top: 64px;
    padding-bottom: 61px;
  }

  .main-footer__wrapper {
    display: grid;
    grid-template-columns: 303px 297px 291px 291px;
    padding-left: 148px;
    padding-right: 152px;
  }

  .main-footer__column {
    position: relative;
    flex-shrink: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      width: 1px;
      height: 160px;
      background-color: $base-white;
    }

    &:not(:first-child) {
      padding-left: 20px;
    }

    &:last-child {
      padding-left: 0;
      padding-right: 24px;
      margin-top: -4px;

      &::before {
        display: none;
      }
    }
  }

  .main-footer__copyright {
    margin-bottom: 22px;
  }

  .main-footer__social {
    margin-bottom: 35px;

    &::before {
      display: none;
    }
  }

  .main-footer__logo {
    display: block;

    img {
      display: block;
    }
  }

  .main-footer__nav {
    display: block;
    margin-left: -8px;
    margin-top: -5px;
  }

  .main-footer__documents {
    @include list-reset;

    display: block;
  }

  .main-footer__document {
    margin-bottom: 13px;
    text-align: right;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .main-footer__link {
    display: block;
    color: $base-white;
    text-decoration: none;

    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }

    &:active {
      opacity: 0.5;
    }

    &--custom {
      margin-right: -25px;
    }
  }
}
