.main-header {
  position: relative;
  color: $base-white;
  background-color: $primary-color;
}

.main-header__wrapper {
  padding: 10px 20px;
  display: flex;
  align-items: flex-start;
}

.main-header__logo {
  margin-right: auto;
}

.main-header__nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: 0.2s ease-in;

  &--hidden {
    display: none;
  }
}

.main-header__user-list {
  margin-right: 26.5px;
}

.main-header__burger {
  margin-left: 26.5px;
  margin-right: -2px;
}
