.news-card {
  min-width: 320px;
  width: 100%;
  padding: 10px;
  border: 1px solid $lite-grey;
}

.news-card__image {
  margin-bottom: 5px;

  img {
    display: block;
    width: 100%;
    aspect-ratio: 300 / 200;
    object-fit: cover;
  }
}

.news-card__date {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
}

.news-card__description {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $desktop-width) {
  .news-card {
    padding: 0;
    border: none;
  }

  .news-card__text {
    display: none;
  }

  .news-card__image {
    margin-bottom: 0;

    img {
      width: 360px;
      height: 290px;
      aspect-ratio: 360 / 290;
    }
  }
}
