.user-list {
  @include list-reset;
}

@media (max-width: $mobile-width-only) {
  .user-list__link--registry {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    display: flex;
    align-items: flex-start;
    gap: 20px 30px;
  }
}
