// FONTS
$font-primary: "Montserrat", "Arial", sans-serif;
$font-secondary: "Orbitron", "Tahoma", sans-serif;

// COLORS
$base-text-color: #404040;
$base-white: #ffffff;
$primary-color: #1d1e1c;
$secondary-color: #bbcf26;
$lite-grey: #e7e5e5;
$secondary-linear: linear-gradient(135deg, #fcf21c 0%, #64ad29 100%);
$social-icon: #bbbbba;
$arrow-slider: #111111;
$pagination-color: #434343;
$border-color: #d9d9d9;
$grey-alt: #eeeeee;

// BREAKPOINTS
$desktop-width: 1536px;
$mobile-width-only: 1535px;
