// FONTS
$font-primary: "Montserrat", "Arial", sans-serif;
$font-secondary: "Orbitron", "Tahoma", sans-serif;

// COLORS
$base-text-color: #404040;
$base-white: #ffffff;

// BREAKPOINTS
$desktop-width: 1536px;
$mobile-width-only: 1535px;
